
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* costum style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    line-height: 100px;
    background-color: aliceblue;
}
.container{
    max-width: 1200px;
    padding:  0 32px;
    margin: 0 auto;
}
.clearfix::before, .clearfix::after{
     content: '';
     display: table;
}
.clearfix::after{
    clear: both;
}
.logo{
    float: left;
}
.nav{
    float: right;
}
.logo .img{
       width: 180px;
       vertical-align: middle;
}
.nav a{
    text-decoration: none;
    font-size: 18px ;
    margin-left: 10px;
    text-transform: uppercase;
    color: brown;
    font-weight: 500;
}
.col{
    float: left;
    margin: 0 1%;
}
.col-1{
    width: 48%;

}
.col-2{
    width: 48%;
}
section{
    background-color: cornsilk;
}
h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}
.artical{
    margin: 32px 0;
}
.col-2 img{
    width: 100%;
}
.col-1 p{
    font-size: 16px;
    line-height: 1.5;
}
.row-1 img{
    float: left;
    width: 31.33%;
    margin: 1% 1%;
    border: 2px solid black;
    box-shadow: 0px 2px 3px black;
}
.row-2 img{
    float: left;
    width: 31.33%;
    margin: 1% 1%;
    border: 2px solid black;
    box-shadow: 0px 2px 3px black;
}
footer{
    background-color: coral;
    font-size: 20px;
    padding: 20px;
}
.footer-col{
    float: left;
    text-decoration: none;
}
.nav-footer{
    float: right;
}
.nav-footer a{
    text-decoration: none;
    color: darkblue;
    margin-left: 10px;
}